.hero-header {
  background-color: rgb(7, 92, 92);
  width: auto;
}

.active-link {
  text-decoration: underline black;
}

.products-txt,
.about-txt {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  display: end;
  color: ivory;
  font-family: "Oswald", sans-serif;
  font-size: larger;
  font-weight: bold;
}

.placebo-h1 {
  text-decoration: none;
  padding: 20px;
  color: ivory;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: xx-large;
}
