.hero-header {
  background-color: aqua;
  height: 100px;
  width: auto;
}

.products-txt,
.about-txt {
  text-decoration: none;
  padding: 20px;
}

.placebo-h1 {
  text-decoration: none;
  padding: 20px;
}
